
@media (max-width: 960px) {

  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {

  .container {
    width: 300px;
  }
}
body {
	background-color: rgb(230, 230, 230);
	color: navy;
	font-family : Arial, serif; 

}

h1 {
	color: black
	font-weight:bold;
	letter-spacing: 10px; 
	font-size: 200;
	text-align: center;

}

h2 {
	text-align: center;
}

a{
	text-decoration: none;
}
a:hover {
	color: black;
}

p{
	text-align: center;
	margin-bottom: 40px;
}

.container {
background: lavender;                   
padding: 30px;                             
border-radius: 4px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1);     
width: 800px;     
margin: 0px auto; 
text-align: center;
}

.perfect-circle {
  width: 300px;
	height: 300px;
	border-radius: 50%;
	align-content: center;
}

.btn-purple {
    background-color: white;
    color: purple;
    padding: 20px 20px;
    border-radius: 500px;
    font-weight: bold;
    margin-top: 40px;
}
